version: '3'
services:
  extension-1:
    image: kwildb/extension-math:multi-arch
    ports:
      - 50055:50051
    restart: on-failure

  kwil:
    image: kwildb/kwil:latest
    ports:
      - 50051:50051
      - 8080:8080
    environment:
      - KWILD_EXTENSION_ENDPOINTS=extension-1:50051
    depends_on:
      - extension-1
    restart: on-failure
    command: |
      --autogen
      --app.extension-endpoints=extension-1:50051
